:root{
    --color-black: #282a36;
    --color-black__rgba:  rgba(0, 0, 0, 0.1);
    --color-dark__grey: #333;
    --color-dark__grey-2: #4e4d4d;
    --color-green: #50fa7b;
    --color-white: #fff;
    --space-gap: 1.5rem;
    --color-teste: rgb(103, 119, 87);
}

*{
    border: 0;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--color-black);
    font-family: 'Roboto', sans-serif;
}

/*menu__links */
.menu{
    background-color: var(--color-black__rgba) ;
    border-bottom:1px solid var(--color-dark__grey);
    padding: 2rem;
    text-align: center;
}

.menu__link{
    color: var(--color-white);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.14rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin: 0 1.1rem;
    text-decoration: none;
}

.menu__link:hover{
    color: var(--color-green) ;
    transition: color 200ms;
}

/* estrutura */

.structure{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-gap);
    max-width: 900px;
    margin: 4vh auto;
    flex-wrap: wrap;
}

.aside{
    width: 25%;
    max-width: 240px;
    min-width: 239px;
    margin: 0 auto;
}

.information{
    background-color: var(--color-black__rgba);
    border: 1px solid var(--color-dark__grey);
    border-radius: 8px;
    flex: 1 0 250px;
}

.card-avatar,
.skills,
.contacts{
    background-color: var(--color-dark__grey-2);
    border-radius: 5px;
    margin: 70px 10px 10px;
    padding: 8px;
    position: relative;
    text-align: center;
}

.cardavatar__img{
    border: 6px solid var(--color-dark__grey-2);
    border-radius: 50%;
    display: inline-block;
    left: 50%;
    position: absolute;
    top: -55px;
    transform: translateX(-50%);
    width: 130px;
}

.card-avatar__info{
    flex-wrap: wrap;
    display: flex;
    margin-top: 70px;
    position: relative;
}

.card-avatar__name{
    flex: 1 0 150px;
}

.card-avatar__job{
    flex: 1 0 100px;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
    padding: calc(var(--space-gap) / 4);
}

/* habilidades */

.skills,
.contacts{
    flex: 1 0 100px;
    margin-top: calc(var(--space-gap) / 4);
}

.skills__title{
    font-size: 1rem;
    margin-bottom: 4px;
    text-transform:uppercase;
}
.skills__item{
    align-items: center;
    display: flex;
    font-size: 0.62rem;
    justify-content: space-between;
    margin-top: 4px;
}

/* contatos */

.contacts{
    background-color: #282a3600;
    display: flex;
    gap: var(--space-gap);
    justify-content: center;
    margin-top: 8px;
}

.contacts__links{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


/* projetos */
.projects{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-gap) / 2);
}
/* informações */
.info-banner{
    background-color: var(--color-black__rgba);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-dark__grey);

}
/* cardes de projetos */
.cards{
    display: flex;
    gap: calc(var(--space-gap) / 2);
    flex-wrap: wrap;
    align-content: center;
}

.cards__item{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex: 1 0 200px;
}

.cards__img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cards__info{
    padding: calc(var(--space-gap) / 2);
    min-height: 30px;
    background-color: var(--color-dark__grey-2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cards__name{
    padding-bottom: calc(var(--space-gap) / 3);
    text-transform: capitalize;

}

.cards__description{
    padding-top: calc(var(--space-gap) / 3);
    padding-bottom: calc(var(--space-gap) /3);
}

.cards__link{
    color: var(--color-green);
    text-decoration: none;
    text-transform: lowercase;
}