:root{
    --light: #fff;
    --gray-light: #C4C4C4;

    --dark: #121212;
    --dark-200: #151515;

    --blue: #00D2DF;
    --gradient-pink-1: #D24074 ;
    --gradient-pink-2: #6518B4 ;
    --gradient-purple-1: #9358F7;
    --gradient-purple-2: #10D7E2;

    --font-family-1: 'Poppins', sans-serif;
    --font-family-2: 'Sora', sans-serif;

    --width-gg: 1440px;
    --width-lg: 1080px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--font-family-2) ;
    background: var(--dark-200);
    color: var(--light);
}

/* Global */

.container{
    width: 100%;
    max-width: var(--width-lg);
    margin: 0 auto;
}

.button{
    max-width: 160px;
    padding: 0.875rem 2.125rem;
    border-radius: 4px;
    color: var(--light);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6875rem;
    background:
    linear-gradient(#121212, #121212) padding-box,
    linear-gradient(to right, #9358F7, #10D7E2) border-box;
    border: 2px solid transparent;
    height: 2.8125rem;
}

.button-skin{
    background: 
    linear-gradient(#121212, #121212) padding-box,
    linear-gradient(to right, #D24074, #6518B4) border-box;
    border: 2px solid transparent;
}


/* menu */

header{
    background-color: var(--dark);
}

header nav{
    color: var(--gray-light);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    padding: 2.625rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--dark-200);
}

nav h2{
    color: var(--blue);
    font-weight: 500;
}

nav ul{
    display: flex;
    gap: 3.875rem;
}

ul li{
    list-style: none;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

ul li a{
    text-decoration: none;
    color: var(--gray-light);
    
}

ul li a:hover{
    color: var(--blue);
    transition: all 200ms ease-in-out;
}

/* banner */

section:first-child{
    background-color: var(--dark);
    height: 80vh;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

section:first-child > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

section:first-child > div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    height: 100%;
    position: relative;
    z-index: 1000;
}

section:first-child h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

section:first-child h1 span{
    color: var(--blue);
    font-size: 3rem;
    display: block;
}

section:first-child span.button-container{
    display: flex;
    gap: 1rem;
}


/* banner figure */

section:first-child figure{
    width: 100%;
    position: relative;

}

section:first-child figure img{
    transform: rotate(0deg);
    animation: rotacao 5s linear infinite; 
    position: absolute;
    fill: #6518B4;
}


@keyframes rotacao {
	0% {
		transform: rotate(0);
	}
    100% {
		transform: rotate(360deg);
	}
}

/* sobre mim */

section:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    align-content: center;
}

section:nth-child(2) figure{
    max-width: 22rem;
    height: 22.9375rem;
    border-left: 3px solid var(--blue);
    border-radius: 4px;
}

section:nth-child(2) figure img{
    width: 100%;
    height: 100%;
    border-radius: 2px 8px 8px 2px;
}

section:nth-child(2) article{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

section:nth-child(2) article h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

section:nth-child(2) article h3{
    font-weight: 500;
    font-size: 1.25rem ;
}

section:nth-child(2) article p{
    font-size: 1.125rem;
    color: #C4C4C4;
    font-weight: 300;
}

section:nth-child(2) article div{
    display: flex;
    gap: 2rem;
}


/* Projetos */
section:nth-child(4) div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 3.75rem 0 0;
}

section:nth-child(4) figure{
    display: grid;
}

section:nth-child(4) figcaption {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

section:nth-child(4) figure h3{
    font-size: 1.5rem;
    font-weight: 500;
}

section:nth-child(4) figure p {
    max-width: 438px;
    font-size: 1rem;
    font-weight: 300;
    color: #C4C4C4;
}

section:nth-child(4) figure span{
    font-size: 0.875rem;
    color: var(--blue);
}


section:nth-child(4) figure img{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-left: 4px solid var(--blue);
    border-radius: 4px;
    margin-bottom: 1.5rem;
    position: relative;
}

section:nth-child(4) figure img::before{
    content: 'Foto';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #121212;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00D2DF;
}

section:nth-child(4) figure a img{
    width: 100%;
    border: none;
    margin-bottom: 0;
    height: auto;
    min-height: 0;
}

/* Experiência */

.experiencia{
    background-color: var(--dark);
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.experience_container div{
    display: flex;
    gap: 4rem;
    
}

.experience_container h2{
    margin: 2rem 0 1.5rem 0;
}

.experiencia .experience_companies li{
    padding: 1rem 1.5rem 1rem 2rem;
    background-color: var(--dark);
    color: #C4C4C4;
    border-left: 2px solid #151515;
    transform: none;
}

.experiencia .experience_companies li.ativo{
    border-left: 2px solid var(--blue);
    background: #151515;
}

/* 30% */

/* 

width: 0.622
top: 0.69
left: 1.586



*/