:root{
    --color-black: #282a36;
    --color-black__rgba:  rgba(0, 0, 0, 0.1);
    --color-dark__grey: #333;
    --color-dark__grey-2: #4e4d4d;
    --color-green: #50fa7b;
    --color-white: #fff;
}

*{
    border: 0;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--color-black);
    font-family: 'Roboto', sans-serif;
}

/*menu__links */
.menu{
    background-color: var(--color-black__rgba) ;
    border-bottom:1px solid var(--color-dark__grey);
    padding: 2rem;
    text-align: center;
}

.menu__link{
    color: var(--color-white);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.14rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin: 0 1.1rem;
    text-decoration: none;
}

.menu__link:hover{
    color: var(--color-green) ;
    transition: color 200ms;
}

/* estrutura */

.structure{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    margin: 4vh auto;
}

.information{
    background-color: var(--color-black__rgba);
    border: 1px solid var(--color-dark__grey);
    border-radius: 8px;
    width: 40vw;
}

.card-avatar,
.skills,
.contacts{
    background-color: var(--color-dark__grey-2);
    border-radius: 5px;
    margin: 70px 10px 10px;
    padding: 8px;
    position: relative;
    text-align: center;
}

.cardavatar__img{
    border: 6px solid var(--color-dark__grey-2);
    border-radius: 50%;
    display: inline-block;
    left: 50%;
    position: absolute;
    top: -55px;
    transform: translateX(-50%);
    width: 130px;
}

.card-avatar__info{
    flex-wrap: wrap;
    display: flex;
    margin-top: 70px;
    position: relative;
}

.card-avatar__name{
    flex: 1 0 auto;
}

.card-avatar__job{
    flex: 1 0 auto;
    font-size: 0.8rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

/* habilidades */

.skills,
.contacts{
    margin-top: 10px;
}

.skills__title{
    font-size: 1rem;
    margin-bottom: 4px;
    text-transform:uppercase;
}
.skills__item{
    align-items: center;
    display: flex;
    font-size: 0.62rem;
    justify-content: space-between;
    margin-top: 4px;
}

/* contatos */

.contacts{
    background-color: #282a3600;
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top: 8px;
}

.contacts__links{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


/* projetos */
.projects{
    width: 100vw;
}
/* informações */
.projects__info{
    background-color: yellow;
    height: 50vh;
}
/* cardes de projetos */
.projects__cards{
    background-color: #50fa7b;
    height: 50vh;
}

